
USE [mon60410_FonNature]
GO
/****** Object:  Schema [mon60410_phuoc]    Script Date: 03-01-2021 11:25:06 PM ******/
CREATE SCHEMA [mon60410_phuoc]
GO
/****** Object:  Table [dbo].[__MigrationHistory]    Script Date: 03-01-2021 11:25:06 PM ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[__MigrationHistory](
	[MigrationId] [nvarchar](150) NOT NULL,
	[ContextKey] [nvarchar](300) NOT NULL,
	[Model] [varbinary](max) NOT NULL,
	[ProductVersion] [nvarchar](32) NOT NULL,
 CONSTRAINT [PK_dbo.__MigrationHistory] PRIMARY KEY CLUSTERED 
(
	[MigrationId] ASC,
	[ContextKey] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON, OPTIMIZE_FOR_SEQUENTIAL_KEY = OFF) ON [PRIMARY]
) ON [PRIMARY] TEXTIMAGE_ON [PRIMARY]
GO
/****** Object:  Table [dbo].[About]    Script Date: 03-01-2021 11:25:06 PM ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[About](
	[id] [bigint] IDENTITY(1,1) NOT NULL,
	[name] [nvarchar](250) NULL,
	[description] [ntext] NULL,
	[image] [nvarchar](250) NULL,
	[Category] [int] NOT NULL,
	[Author] [nvarchar](250) NULL,
	[Role] [nvarchar](250) NULL,
	[Sign] [nvarchar](250) NULL,
 CONSTRAINT [PK_dbo.About] PRIMARY KEY CLUSTERED 
(
	[id] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON, OPTIMIZE_FOR_SEQUENTIAL_KEY = OFF) ON [PRIMARY]
) ON [PRIMARY] TEXTIMAGE_ON [PRIMARY]
GO
/****** Object:  Table [dbo].[AccountAdmin]    Script Date: 03-01-2021 11:25:06 PM ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[AccountAdmin](
	[id] [bigint] IDENTITY(1,1) NOT NULL,
	[userName] [nvarchar](100) NOT NULL,
	[passWord] [nvarchar](100) NOT NULL,
	[type] [bit] NULL,
	[STATUS] [bit] NULL,
 CONSTRAINT [PK_dbo.AccountAdmin] PRIMARY KEY CLUSTERED 
(
	[id] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON, OPTIMIZE_FOR_SEQUENTIAL_KEY = OFF) ON [PRIMARY]
) ON [PRIMARY]
GO
/****** Object:  Table [dbo].[Banner]    Script Date: 03-01-2021 11:25:06 PM ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[Banner](
	[Id] [int] IDENTITY(1,1) NOT NULL,
	[Location] [int] NOT NULL,
	[Image] [nvarchar](500) NULL,
 CONSTRAINT [PK_dbo.Banner] PRIMARY KEY CLUSTERED 
(
	[Id] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON, OPTIMIZE_FOR_SEQUENTIAL_KEY = OFF) ON [PRIMARY]
) ON [PRIMARY]
GO
/****** Object:  Table [dbo].[Benefit]    Script Date: 03-01-2021 11:25:06 PM ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[Benefit](
	[Id] [int] IDENTITY(1,1) NOT NULL,
	[Name] [nvarchar](250) NULL,
	[Description] [nvarchar](250) NULL,
	[Image] [nvarchar](500) NULL,
 CONSTRAINT [PK_dbo.Benefit] PRIMARY KEY CLUSTERED 
(
	[Id] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON, OPTIMIZE_FOR_SEQUENTIAL_KEY = OFF) ON [PRIMARY]
) ON [PRIMARY]
GO
/****** Object:  Table [dbo].[Booking]    Script Date: 03-01-2021 11:25:06 PM ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[Booking](
	[Id] [bigint] IDENTITY(1,1) NOT NULL,
	[ArrivalTime] [datetime] NOT NULL,
	[EndTime] [datetime] NOT NULL,
	[ClientAccountId] [bigint] NOT NULL,
	[ServiceId] [bigint] NOT NULL,
	[RoomId] [int] NOT NULL,
	[Message] [nvarchar](2000) NULL,
	[Quantity] [int] NOT NULL,
	[PeriodTime] [int] NOT NULL,
	[Duration] [int] NOT NULL,
	[IsCancel] [bit] NOT NULL,
 CONSTRAINT [PK_dbo.Booking] PRIMARY KEY CLUSTERED 
(
	[Id] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON, OPTIMIZE_FOR_SEQUENTIAL_KEY = OFF) ON [PRIMARY]
) ON [PRIMARY]
GO
/****** Object:  Table [dbo].[ClientAccount]    Script Date: 03-01-2021 11:25:06 PM ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[ClientAccount](
	[Id] [bigint] IDENTITY(1,1) NOT NULL,
	[Email] [nvarchar](50) NOT NULL,
	[MobilePhone] [nvarchar](20) NOT NULL,
	[PassWord] [nvarchar](1000) NULL,
	[TitleId] [bigint] NOT NULL,
	[NickName] [nvarchar](100) NULL,
	[MaritalStatusId] [bigint] NOT NULL,
	[AgeRangeId] [bigint] NOT NULL,
	[FirstName] [nvarchar](100) NULL,
	[LastName] [nvarchar](100) NULL,
	[Birth] [datetime] NULL,
	[GenderId] [bigint] NOT NULL,
	[RegionId] [bigint] NOT NULL,
	[OccupationId] [bigint] NOT NULL,
	[Status] [bit] NOT NULL,
	[Address] [nvarchar](max) NULL,
	[ShippingAddress] [nvarchar](max) NULL,
	[IsPreMember] [bit] NOT NULL,
	[IsConfirm] [bit] NOT NULL,
	[Token] [nvarchar](1000) NULL,
 CONSTRAINT [PK_dbo.ClientAccount] PRIMARY KEY CLUSTERED 
(
	[Id] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON, OPTIMIZE_FOR_SEQUENTIAL_KEY = OFF) ON [PRIMARY]
) ON [PRIMARY] TEXTIMAGE_ON [PRIMARY]
GO
/****** Object:  Table [dbo].[Contact]    Script Date: 03-01-2021 11:25:06 PM ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[Contact](
	[id] [int] IDENTITY(1,1) NOT NULL,
	[Address] [nvarchar](250) NULL,
	[MobilePhone] [nvarchar](250) NULL,
	[Email] [nvarchar](250) NULL,
	[LinkFaceBook] [nvarchar](250) NULL,
	[LinkInstagram] [nvarchar](250) NULL,
	[LogoHeader] [nvarchar](250) NULL,
	[LogoFooter] [nvarchar](250) NULL,
	[FacebookPagePlugin] [nvarchar](1000) NULL,
 CONSTRAINT [PK_dbo.Contact] PRIMARY KEY CLUSTERED 
(
	[id] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON, OPTIMIZE_FOR_SEQUENTIAL_KEY = OFF) ON [PRIMARY]
) ON [PRIMARY]
GO
/****** Object:  Table [dbo].[Content]    Script Date: 03-01-2021 11:25:06 PM ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[Content](
	[id] [bigint] IDENTITY(1,1) NOT NULL,
	[name] [nvarchar](250) NULL,
	[metatitle] [nvarchar](100) NULL,
	[description] [nvarchar](500) NULL,
	[image] [nvarchar](250) NULL,
	[categoryID] [bigint] NULL,
	[detail] [ntext] NULL,
	[createdDate] [date] NULL,
	[modifiedDate] [date] NULL,
	[topHot] [date] NULL,
	[viewCount] [int] NULL,
	[status] [bit] NULL,
	[MetaKeyWord] [nvarchar](500) NULL,
	[MetaDescription] [nvarchar](500) NULL,
	[IsDisplayInHomePage] [bit] NOT NULL,
 CONSTRAINT [PK_dbo.Content] PRIMARY KEY CLUSTERED 
(
	[id] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON, OPTIMIZE_FOR_SEQUENTIAL_KEY = OFF) ON [PRIMARY]
) ON [PRIMARY] TEXTIMAGE_ON [PRIMARY]
GO
/****** Object:  Table [dbo].[ContentCategory]    Script Date: 03-01-2021 11:25:06 PM ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[ContentCategory](
	[id] [bigint] IDENTITY(1,1) NOT NULL,
	[name] [nvarchar](250) NULL,
	[metatitle] [nvarchar](250) NULL,
	[parentID] [int] NULL,
	[displayOrder] [int] NULL,
	[createdDate] [date] NULL,
	[modifiedDate] [date] NULL,
	[status] [bit] NULL,
	[showOnHome] [bit] NULL,
 CONSTRAINT [PK_dbo.ContentCategory] PRIMARY KEY CLUSTERED 
(
	[id] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON, OPTIMIZE_FOR_SEQUENTIAL_KEY = OFF) ON [PRIMARY]
) ON [PRIMARY]
GO
/****** Object:  Table [dbo].[CouponCode]    Script Date: 03-01-2021 11:25:06 PM ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[CouponCode](
	[DisplayName] [nvarchar](100) NULL,
	[Description] [nvarchar](200) NULL,
	[DiscountValue] [decimal](18, 2) NOT NULL,
	[ProductId] [nvarchar](max) NULL,
	[Code] [nvarchar](100) NOT NULL,
	[Quantity] [int] NOT NULL,
 CONSTRAINT [PK_dbo.CouponCode] PRIMARY KEY CLUSTERED 
(
	[Code] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON, OPTIMIZE_FOR_SEQUENTIAL_KEY = OFF) ON [PRIMARY]
) ON [PRIMARY] TEXTIMAGE_ON [PRIMARY]
GO
/****** Object:  Table [dbo].[Dictionary]    Script Date: 03-01-2021 11:25:06 PM ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[Dictionary](
	[Id] [bigint] IDENTITY(1,1) NOT NULL,
	[Key] [nvarchar](250) NULL,
	[Value] [nvarchar](250) NULL,
 CONSTRAINT [PK_dbo.Dictionary] PRIMARY KEY CLUSTERED 
(
	[Id] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON, OPTIMIZE_FOR_SEQUENTIAL_KEY = OFF) ON [PRIMARY]
) ON [PRIMARY]
GO
/****** Object:  Table [dbo].[District]    Script Date: 03-01-2021 11:25:06 PM ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[District](
	[Id] [bigint] IDENTITY(1,1) NOT NULL,
	[Name] [nvarchar](100) NULL,
 CONSTRAINT [PK_dbo.District] PRIMARY KEY CLUSTERED 
(
	[Id] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON, OPTIMIZE_FOR_SEQUENTIAL_KEY = OFF) ON [PRIMARY]
) ON [PRIMARY]
GO
/****** Object:  Table [dbo].[Footer]    Script Date: 03-01-2021 11:25:06 PM ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[Footer](
	[id] [int] IDENTITY(1,1) NOT NULL,
	[text] [nvarchar](50) NULL,
	[link] [nvarchar](100) NULL,
	[displayOrder] [int] NULL,
	[typeId] [int] NULL,
	[status] [bit] NULL,
	[Icon] [nvarchar](max) NULL,
 CONSTRAINT [PK_dbo.Footer] PRIMARY KEY CLUSTERED 
(
	[id] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON, OPTIMIZE_FOR_SEQUENTIAL_KEY = OFF) ON [PRIMARY]
) ON [PRIMARY] TEXTIMAGE_ON [PRIMARY]
GO
/****** Object:  Table [dbo].[FooterCategory]    Script Date: 03-01-2021 11:25:06 PM ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[FooterCategory](
	[id] [int] IDENTITY(1,1) NOT NULL,
	[name] [nvarchar](100) NULL,
 CONSTRAINT [PK_dbo.FooterCategory] PRIMARY KEY CLUSTERED 
(
	[id] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON, OPTIMIZE_FOR_SEQUENTIAL_KEY = OFF) ON [PRIMARY]
) ON [PRIMARY]
GO
/****** Object:  Table [dbo].[GenderCustomer]    Script Date: 03-01-2021 11:25:06 PM ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[GenderCustomer](
	[Id] [bigint] IDENTITY(1,1) NOT NULL,
	[Name] [nvarchar](100) NULL,
 CONSTRAINT [PK_dbo.GenderCustomer] PRIMARY KEY CLUSTERED 
(
	[Id] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON, OPTIMIZE_FOR_SEQUENTIAL_KEY = OFF) ON [PRIMARY]
) ON [PRIMARY]
GO
/****** Object:  Table [dbo].[IPAddress]    Script Date: 03-01-2021 11:25:06 PM ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[IPAddress](
	[Id] [bigint] IDENTITY(1,1) NOT NULL,
	[IP] [nvarchar](max) NULL,
	[date] [datetime] NOT NULL,
 CONSTRAINT [PK_dbo.IPAddress] PRIMARY KEY CLUSTERED 
(
	[Id] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON, OPTIMIZE_FOR_SEQUENTIAL_KEY = OFF) ON [PRIMARY]
) ON [PRIMARY] TEXTIMAGE_ON [PRIMARY]
GO
/****** Object:  Table [dbo].[MaritalStatusCustomer]    Script Date: 03-01-2021 11:25:06 PM ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[MaritalStatusCustomer](
	[Id] [bigint] IDENTITY(1,1) NOT NULL,
	[Name] [nvarchar](100) NULL,
 CONSTRAINT [PK_dbo.MaritalStatusCustomer] PRIMARY KEY CLUSTERED 
(
	[Id] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON, OPTIMIZE_FOR_SEQUENTIAL_KEY = OFF) ON [PRIMARY]
) ON [PRIMARY]
GO
/****** Object:  Table [dbo].[Membership]    Script Date: 03-01-2021 11:25:06 PM ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[Membership](
	[Id] [bigint] IDENTITY(1,1) NOT NULL,
 CONSTRAINT [PK_dbo.Membership] PRIMARY KEY CLUSTERED 
(
	[Id] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON, OPTIMIZE_FOR_SEQUENTIAL_KEY = OFF) ON [PRIMARY]
) ON [PRIMARY]
GO
/****** Object:  Table [dbo].[Menu]    Script Date: 03-01-2021 11:25:06 PM ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[Menu](
	[id] [int] IDENTITY(1,1) NOT NULL,
	[text] [nvarchar](50) NULL,
	[link] [nvarchar](100) NULL,
	[displayOrder] [int] NULL,
	[typeId] [int] NULL,
	[status] [bit] NULL,
 CONSTRAINT [PK_dbo.Menu] PRIMARY KEY CLUSTERED 
(
	[id] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON, OPTIMIZE_FOR_SEQUENTIAL_KEY = OFF) ON [PRIMARY]
) ON [PRIMARY]
GO
/****** Object:  Table [dbo].[MenuType]    Script Date: 03-01-2021 11:25:06 PM ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[MenuType](
	[id] [int] IDENTITY(1,1) NOT NULL,
	[name] [nvarchar](50) NULL,
 CONSTRAINT [PK_dbo.MenuType] PRIMARY KEY CLUSTERED 
(
	[id] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON, OPTIMIZE_FOR_SEQUENTIAL_KEY = OFF) ON [PRIMARY]
) ON [PRIMARY]
GO
/****** Object:  Table [dbo].[OccupationCustomer]    Script Date: 03-01-2021 11:25:06 PM ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[OccupationCustomer](
	[Id] [bigint] IDENTITY(1,1) NOT NULL,
	[Name] [nvarchar](100) NULL,
 CONSTRAINT [PK_dbo.OccupationCustomer] PRIMARY KEY CLUSTERED 
(
	[Id] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON, OPTIMIZE_FOR_SEQUENTIAL_KEY = OFF) ON [PRIMARY]
) ON [PRIMARY]
GO
/****** Object:  Table [dbo].[Order]    Script Date: 03-01-2021 11:25:06 PM ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[Order](
	[Id] [bigint] IDENTITY(1,1) NOT NULL,
	[createdDate] [datetime] NULL,
	[IdStatus] [int] NOT NULL,
	[ClientAccountId] [bigint] NOT NULL,
	[PaymentMethod] [nvarchar](max) NULL,
	[ShippingAddress] [nvarchar](max) NULL,
	[SubTotal] [decimal](18, 2) NOT NULL,
	[Discount] [decimal](18, 2) NOT NULL,
	[GrandTotal] [decimal](18, 2) NOT NULL,
	[CouponCode] [nvarchar](max) NULL,
 CONSTRAINT [PK_dbo.Order] PRIMARY KEY CLUSTERED 
(
	[Id] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON, OPTIMIZE_FOR_SEQUENTIAL_KEY = OFF) ON [PRIMARY]
) ON [PRIMARY] TEXTIMAGE_ON [PRIMARY]
GO
/****** Object:  Table [dbo].[OrderInformation]    Script Date: 03-01-2021 11:25:06 PM ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[OrderInformation](
	[Id] [bigint] IDENTITY(1,1) NOT NULL,
	[IdProduct] [bigint] NOT NULL,
	[IdOrder] [bigint] NOT NULL,
	[Quantity] [int] NOT NULL,
 CONSTRAINT [PK_dbo.OrderInformation] PRIMARY KEY CLUSTERED 
(
	[Id] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON, OPTIMIZE_FOR_SEQUENTIAL_KEY = OFF) ON [PRIMARY]
) ON [PRIMARY]
GO
/****** Object:  Table [dbo].[OrderStatus]    Script Date: 03-01-2021 11:25:06 PM ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[OrderStatus](
	[Id] [int] IDENTITY(1,1) NOT NULL,
	[Title] [nvarchar](50) NULL,
 CONSTRAINT [PK_dbo.OrderStatus] PRIMARY KEY CLUSTERED 
(
	[Id] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON, OPTIMIZE_FOR_SEQUENTIAL_KEY = OFF) ON [PRIMARY]
) ON [PRIMARY]
GO
/****** Object:  Table [dbo].[Page]    Script Date: 03-01-2021 11:25:06 PM ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[Page](
	[Id] [bigint] IDENTITY(1,1) NOT NULL,
	[Name] [nvarchar](100) NULL,
	[Url] [nvarchar](100) NULL,
	[Body] [ntext] NULL,
	[MetaTitle] [nvarchar](250) NULL,
	[MetaDescription] [nvarchar](1000) NULL,
	[MetaKeywords] [nvarchar](1000) NULL,
 CONSTRAINT [PK_dbo.Page] PRIMARY KEY CLUSTERED 
(
	[Id] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON, OPTIMIZE_FOR_SEQUENTIAL_KEY = OFF) ON [PRIMARY]
) ON [PRIMARY] TEXTIMAGE_ON [PRIMARY]
GO
/****** Object:  Table [dbo].[Product]    Script Date: 03-01-2021 11:25:06 PM ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[Product](
	[id] [bigint] IDENTITY(1,1) NOT NULL,
	[name] [nvarchar](250) NOT NULL,
	[metaTitle] [nvarchar](250) NULL,
	[description] [nvarchar](999) NULL,
	[image] [nvarchar](max) NULL,
	[moreImages] [xml] NULL,
	[price] [decimal](18, 0) NULL,
	[promotionPrice] [decimal](18, 0) NULL,
	[idCategory] [int] NOT NULL,
	[detail] [ntext] NULL,
	[createdDate] [date] NULL,
	[modifiDate] [date] NULL,
	[status] [bit] NULL,
	[topHot] [date] NULL,
	[MetaKeyword] [nvarchar](250) NULL,
	[MetaDescription] [nvarchar](250) NULL,
	[AmountSold] [int] NOT NULL,
	[isDisplayHomePage] [bit] NOT NULL,
 CONSTRAINT [PK_dbo.Product] PRIMARY KEY CLUSTERED 
(
	[id] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON, OPTIMIZE_FOR_SEQUENTIAL_KEY = OFF) ON [PRIMARY]
) ON [PRIMARY] TEXTIMAGE_ON [PRIMARY]
GO
/****** Object:  Table [dbo].[ProductCategory]    Script Date: 03-01-2021 11:25:06 PM ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[ProductCategory](
	[id] [int] IDENTITY(1,1) NOT NULL,
	[name] [nvarchar](250) NULL,
	[metatitle] [nvarchar](250) NULL,
	[parentID] [int] NULL,
	[displayOrder] [int] NULL,
	[createdDate] [date] NULL,
	[modifiedDate] [date] NULL,
	[status] [bit] NULL,
	[showOnHome] [bit] NULL,
 CONSTRAINT [PK_dbo.ProductCategory] PRIMARY KEY CLUSTERED 
(
	[id] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON, OPTIMIZE_FOR_SEQUENTIAL_KEY = OFF) ON [PRIMARY]
) ON [PRIMARY]
GO
/****** Object:  Table [dbo].[Region]    Script Date: 03-01-2021 11:25:06 PM ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[Region](
	[Id] [bigint] IDENTITY(1,1) NOT NULL,
	[Name] [nvarchar](100) NULL,
	[DistrictId] [bigint] NOT NULL,
 CONSTRAINT [PK_dbo.Region] PRIMARY KEY CLUSTERED 
(
	[Id] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON, OPTIMIZE_FOR_SEQUENTIAL_KEY = OFF) ON [PRIMARY]
) ON [PRIMARY]
GO
/****** Object:  Table [dbo].[Room]    Script Date: 03-01-2021 11:25:06 PM ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[Room](
	[Id] [int] IDENTITY(1,1) NOT NULL,
	[DisplayName] [nvarchar](100) NULL,
	[Code] [nvarchar](100) NULL,
 CONSTRAINT [PK_dbo.Room] PRIMARY KEY CLUSTERED 
(
	[Id] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON, OPTIMIZE_FOR_SEQUENTIAL_KEY = OFF) ON [PRIMARY]
) ON [PRIMARY]
GO
/****** Object:  Table [dbo].[SEO]    Script Date: 03-01-2021 11:25:06 PM ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[SEO](
	[Id] [bigint] IDENTITY(1,1) NOT NULL,
	[Name] [nvarchar](100) NULL,
	[MetaTitle] [nvarchar](500) NULL,
	[MetaKeyWord] [nvarchar](500) NULL,
	[MetaDescription] [nvarchar](500) NULL,
	[TypeId] [int] NOT NULL,
 CONSTRAINT [PK_dbo.SEO] PRIMARY KEY CLUSTERED 
(
	[Id] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON, OPTIMIZE_FOR_SEQUENTIAL_KEY = OFF) ON [PRIMARY]
) ON [PRIMARY]
GO
/****** Object:  Table [dbo].[Service]    Script Date: 03-01-2021 11:25:06 PM ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[Service](
	[Id] [bigint] IDENTITY(1,1) NOT NULL,
	[Name] [nvarchar](250) NOT NULL,
	[MetaTitle] [nvarchar](250) NULL,
	[MetaKeyword] [nvarchar](250) NULL,
	[MetaDescription] [nvarchar](250) NULL,
	[Description] [nvarchar](999) NULL,
	[Image] [nvarchar](max) NULL,
	[MoreImages] [xml] NULL,
	[Price] [decimal](18, 2) NULL,
	[PromotionPrice] [decimal](18, 2) NULL,
	[IdCategory] [int] NOT NULL,
	[Detail] [ntext] NULL,
	[CreatedDate] [date] NULL,
	[ModifiDate] [date] NULL,
	[Status] [bit] NULL,
	[TopHot] [date] NULL,
	[IsDisplayHomePage] [bit] NOT NULL,
	[Duration] [int] NOT NULL,
 CONSTRAINT [PK_dbo.Service] PRIMARY KEY CLUSTERED 
(
	[Id] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON, OPTIMIZE_FOR_SEQUENTIAL_KEY = OFF) ON [PRIMARY]
) ON [PRIMARY] TEXTIMAGE_ON [PRIMARY]
GO
/****** Object:  Table [dbo].[ServiceCategory]    Script Date: 03-01-2021 11:25:06 PM ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[ServiceCategory](
	[Id] [int] IDENTITY(1,1) NOT NULL,
	[Name] [nvarchar](250) NULL,
	[Metatitle] [nvarchar](250) NULL,
	[ParentID] [int] NULL,
	[DisplayOrder] [int] NULL,
	[CreatedDate] [date] NULL,
	[ModifiedDate] [date] NULL,
	[Status] [bit] NULL,
	[ShowOnHome] [bit] NULL,
 CONSTRAINT [PK_dbo.ServiceCategory] PRIMARY KEY CLUSTERED 
(
	[Id] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON, OPTIMIZE_FOR_SEQUENTIAL_KEY = OFF) ON [PRIMARY]
) ON [PRIMARY]
GO
/****** Object:  Table [dbo].[Slide]    Script Date: 03-01-2021 11:25:06 PM ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[Slide](
	[id] [bigint] IDENTITY(1,1) NOT NULL,
	[image] [nvarchar](max) NULL,
	[displayOrder] [int] NULL,
	[link] [nvarchar](max) NULL,
	[createdDate] [datetime] NULL,
	[modifiedDate] [datetime] NULL,
	[status] [bit] NULL,
	[title] [nvarchar](max) NULL,
	[subtitle] [nvarchar](max) NULL,
	[TextButton] [nvarchar](max) NULL,
	[YellowTitle] [nvarchar](max) NULL,
	[SlideType] [int] NOT NULL,
 CONSTRAINT [PK_dbo.Slide] PRIMARY KEY CLUSTERED 
(
	[id] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON, OPTIMIZE_FOR_SEQUENTIAL_KEY = OFF) ON [PRIMARY]
) ON [PRIMARY] TEXTIMAGE_ON [PRIMARY]
GO
/****** Object:  Table [dbo].[Staff]    Script Date: 03-01-2021 11:25:06 PM ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[Staff](
	[Id] [bigint] IDENTITY(1,1) NOT NULL,
	[Name] [nvarchar](100) NOT NULL,
	[Email] [nvarchar](100) NULL,
	[Phone] [nvarchar](20) NULL,
	[Address] [nvarchar](100) NULL,
	[createdDate] [date] NULL,
	[modifiedDate] [date] NULL,
	[status] [bit] NULL,
	[IdAccount] [bigint] NOT NULL,
	[Position] [nvarchar](100) NULL,
	[ShowOnHome] [bit] NULL,
	[image] [nvarchar](250) NULL,
 CONSTRAINT [PK_dbo.Staff] PRIMARY KEY CLUSTERED 
(
	[Id] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON, OPTIMIZE_FOR_SEQUENTIAL_KEY = OFF) ON [PRIMARY]
) ON [PRIMARY]
GO
/****** Object:  Table [dbo].[TitleCustomer]    Script Date: 03-01-2021 11:25:06 PM ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[TitleCustomer](
	[Id] [bigint] IDENTITY(1,1) NOT NULL,
	[Name] [nvarchar](100) NULL,
 CONSTRAINT [PK_dbo.TitleCustomer] PRIMARY KEY CLUSTERED 
(
	[Id] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON, OPTIMIZE_FOR_SEQUENTIAL_KEY = OFF) ON [PRIMARY]
) ON [PRIMARY]
GO
/****** Object:  Table [dbo].[UsefulInformation]    Script Date: 03-01-2021 11:25:06 PM ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[UsefulInformation](
	[Id] [bigint] IDENTITY(1,1) NOT NULL,
	[Name] [nvarchar](200) NULL,
	[Value] [int] NULL,
 CONSTRAINT [PK_dbo.UsefulInformation] PRIMARY KEY CLUSTERED 
(
	[Id] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON, OPTIMIZE_FOR_SEQUENTIAL_KEY = OFF) ON [PRIMARY]
) ON [PRIMARY]
GO
/****** Object:  Table [dbo].[VisitorByTime]    Script Date: 03-01-2021 11:25:06 PM ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[VisitorByTime](
	[Id] [bigint] IDENTITY(1,1) NOT NULL,
	[Time] [datetime] NOT NULL,
	[Count] [bigint] NOT NULL,
 CONSTRAINT [PK_dbo.VisitorByTime] PRIMARY KEY CLUSTERED 
(
	[Id] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON, OPTIMIZE_FOR_SEQUENTIAL_KEY = OFF) ON [PRIMARY]
) ON [PRIMARY]
GO
SET IDENTITY_INSERT [dbo].[About] ON 

INSERT [dbo].[About] ([id], [name], [description], [image], [Category], [Author], [Role], [Sign]) VALUES (4, N'Phạm thùy vân', N'Tôi thấy sản phẩm rất tốt', N'/Data1/images/ava-tes-04.jpg', 2, NULL, NULL, NULL)
INSERT [dbo].[About] ([id], [name], [description], [image], [Category], [Author], [Role], [Sign]) VALUES (5, N'Kevin Le', N'Bánh ngon và cảm giác như mới làm. Mình rất hài lòng. Sẽ đặt mỗi tuần để ăn chiều', N'http://www.monsbakery.com/ckfinder/connector?command=Proxy&lang=en&type=Files&currentFolder=%2Fh%2F&hash=c245c263ce0eced480effe66bbede6b4d46c15ae&fileName=c9f1647a8d05765b2f14.jpg', 2, NULL, NULL, NULL)
SET IDENTITY_INSERT [dbo].[About] OFF
GO
SET IDENTITY_INSERT [dbo].[AccountAdmin] ON 

INSERT [dbo].[AccountAdmin] ([id], [userName], [passWord], [type], [STATUS]) VALUES (1, N'admin', N'1234', 1, 1)
INSERT [dbo].[AccountAdmin] ([id], [userName], [passWord], [type], [STATUS]) VALUES (2, N'user', N'1234', 0, 1)
SET IDENTITY_INSERT [dbo].[AccountAdmin] OFF
GO
SET IDENTITY_INSERT [dbo].[Banner] ON 

INSERT [dbo].[Banner] ([Id], [Location], [Image]) VALUES (3, 1, N'http://localhost:56080/ckfinder/connector?command=Proxy&lang=en&type=Files&currentFolder=%2F&hash=c245c263ce0eced480effe66bbede6b4d46c15ae&fileName=single-image-07.jpg')
INSERT [dbo].[Banner] ([Id], [Location], [Image]) VALUES (5, 2, N'http://localhost:56080/ckfinder/connector?command=Proxy&lang=en&type=Files&currentFolder=%2F&hash=c245c263ce0eced480effe66bbede6b4d46c15ae&fileName=title-page-01.jpg')
SET IDENTITY_INSERT [dbo].[Banner] OFF
GO
SET IDENTITY_INSERT [dbo].[Benefit] ON 

INSERT [dbo].[Benefit] ([Id], [Name], [Description], [Image]) VALUES (1, N'Empathy', N'We put ourselves in the position of the blind to understand.', N'http://localhost:56080/ckfinder/connector?command=Proxy&lang=en&type=Files&currentFolder=%2F&hash=c245c263ce0eced480effe66bbede6b4d46c15ae&fileName=feature-01.png')
INSERT [dbo].[Benefit] ([Id], [Name], [Description], [Image]) VALUES (2, N'Responsibility', N'We nurture the power of team perfor-mance but ensure individual.', N'http://localhost:56080/ckfinder/connector?command=Proxy&lang=en&type=Files&currentFolder=%2F&hash=c245c263ce0eced480effe66bbede6b4d46c15ae&fileName=feature-02.png')
INSERT [dbo].[Benefit] ([Id], [Name], [Description], [Image]) VALUES (3, N'Respect', N'We value diversity and treat others as we expect to be treated.', N'http://localhost:56080/ckfinder/connector?command=Proxy&lang=en&type=Files&currentFolder=%2F&hash=c245c263ce0eced480effe66bbede6b4d46c15ae&fileName=feature-03.png')
SET IDENTITY_INSERT [dbo].[Benefit] OFF
GO
SET IDENTITY_INSERT [dbo].[Booking] ON 

INSERT [dbo].[Booking] ([Id], [ArrivalTime], [EndTime], [ClientAccountId], [ServiceId], [RoomId], [Message], [Quantity], [PeriodTime], [Duration], [IsCancel]) VALUES (1, CAST(N'2020-11-14T00:00:00.000' AS DateTime), CAST(N'2020-11-14T00:00:00.000' AS DateTime), 2, 1, 0, N'abc', 1, 0, 0, 0)
INSERT [dbo].[Booking] ([Id], [ArrivalTime], [EndTime], [ClientAccountId], [ServiceId], [RoomId], [Message], [Quantity], [PeriodTime], [Duration], [IsCancel]) VALUES (2, CAST(N'2020-11-14T10:00:00.000' AS DateTime), CAST(N'2020-11-14T10:45:00.000' AS DateTime), 2, 1, 0, N'a', 1, 0, 0, 0)
INSERT [dbo].[Booking] ([Id], [ArrivalTime], [EndTime], [ClientAccountId], [ServiceId], [RoomId], [Message], [Quantity], [PeriodTime], [Duration], [IsCancel]) VALUES (3, CAST(N'2020-12-26T10:00:00.000' AS DateTime), CAST(N'2020-12-26T10:45:00.000' AS DateTime), 2, 1, 0, N'a', 1, 2, 0, 1)
SET IDENTITY_INSERT [dbo].[Booking] OFF
GO
SET IDENTITY_INSERT [dbo].[ClientAccount] ON 

INSERT [dbo].[ClientAccount] ([Id], [Email], [MobilePhone], [PassWord], [TitleId], [NickName], [MaritalStatusId], [AgeRangeId], [FirstName], [LastName], [Birth], [GenderId], [RegionId], [OccupationId], [Status], [Address], [ShippingAddress], [IsPreMember], [IsConfirm], [Token]) VALUES (2, N'kevinle021097@gmail.com', N'0978373449', N'Forever', 1, N'Kevin', 1, 1, N'Phuoc Minh', N'Le test', CAST(N'1997-02-10T00:00:00.000' AS DateTime), 1, 1, 1, 1, NULL, NULL, 0, 0, NULL)
INSERT [dbo].[ClientAccount] ([Id], [Email], [MobilePhone], [PassWord], [TitleId], [NickName], [MaritalStatusId], [AgeRangeId], [FirstName], [LastName], [Birth], [GenderId], [RegionId], [OccupationId], [Status], [Address], [ShippingAddress], [IsPreMember], [IsConfirm], [Token]) VALUES (5, N'kevinle@gmail.com', N'0978373445', NULL, 0, NULL, 0, 0, N'Markds', N'Ottods', NULL, 0, 0, 0, 0, NULL, NULL, 1, 0, NULL)
INSERT [dbo].[ClientAccount] ([Id], [Email], [MobilePhone], [PassWord], [TitleId], [NickName], [MaritalStatusId], [AgeRangeId], [FirstName], [LastName], [Birth], [GenderId], [RegionId], [OccupationId], [Status], [Address], [ShippingAddress], [IsPreMember], [IsConfirm], [Token]) VALUES (15, N'phuoc.le@tekcent.com', N'0978373448', N'wV5lmN+cWd6t4GDzfKxn/w==', 0, NULL, 0, 0, N'Minh', N'Lê', NULL, 0, 0, 0, 0, NULL, NULL, 0, 1, N'x79Wrbev2Eh8ra1rHzWWQ6nXzeNUwx4')
SET IDENTITY_INSERT [dbo].[ClientAccount] OFF
GO
SET IDENTITY_INSERT [dbo].[Contact] ON 

SET IDENTITY_INSERT [dbo].[Contact] OFF
GO
SET IDENTITY_INSERT [dbo].[Content] ON 

SET IDENTITY_INSERT [dbo].[Content] OFF
GO
SET IDENTITY_INSERT [dbo].[ContentCategory] ON 

INSERT [dbo].[ContentCategory] ([id], [name], [metatitle], [parentID], [displayOrder], [createdDate], [modifiedDate], [status], [showOnHome]) VALUES (4, N'Beauty', N'Beauty', NULL, 1, CAST(N'2019-11-29' AS Date), CAST(N'2020-10-11' AS Date), 1, 0)
INSERT [dbo].[ContentCategory] ([id], [name], [metatitle], [parentID], [displayOrder], [createdDate], [modifiedDate], [status], [showOnHome]) VALUES (7, N'Spa', N'Spa', NULL, 2, CAST(N'2020-10-11' AS Date), NULL, 1, 1)
SET IDENTITY_INSERT [dbo].[ContentCategory] OFF
GO
INSERT [dbo].[CouponCode] ([DisplayName], [Description], [DiscountValue], [ProductId], [Code], [Quantity]) VALUES (N'Giáng Sinh', N'Giáng Sinh', CAST(20000.00 AS Decimal(18, 2)), N'all', N'GIANGSINH', 0)
INSERT [dbo].[CouponCode] ([DisplayName], [Description], [DiscountValue], [ProductId], [Code], [Quantity]) VALUES (N'GIANGSINH1', N'GIANGSINH1', CAST(20000.00 AS Decimal(18, 2)), N'2', N'GIANGSINH1', 0)
INSERT [dbo].[CouponCode] ([DisplayName], [Description], [DiscountValue], [ProductId], [Code], [Quantity]) VALUES (N'Giáng Sinh 2020', N'Giáng Sinh 2020', CAST(2000.00 AS Decimal(18, 2)), N'2', N'GIANGSINH2', 5)
GO
SET IDENTITY_INSERT [dbo].[Dictionary] ON 

INSERT [dbo].[Dictionary] ([Id], [Key], [Value]) VALUES (1, N'home_freeship_title', N'Miễn phí ship Thủ đức')
INSERT [dbo].[Dictionary] ([Id], [Key], [Value]) VALUES (3, N'home_freeship_subTitle', N'Với đơn hàng trên 100k')
INSERT [dbo].[Dictionary] ([Id], [Key], [Value]) VALUES (4, N'home_return_title', N'Trả hàng trong vòng 1 ngày')
SET IDENTITY_INSERT [dbo].[Dictionary] OFF
GO
SET IDENTITY_INSERT [dbo].[Footer] ON 

INSERT [dbo].[Footer] ([id], [text], [link], [displayOrder], [typeId], [status], [Icon]) VALUES (3, N'Thủ đức, Thành phố Hồ Chí Minh', NULL, 1, 3, 1, NULL)
INSERT [dbo].[Footer] ([id], [text], [link], [displayOrder], [typeId], [status], [Icon]) VALUES (4, N'0855 091 019', NULL, 2, 3, 1, NULL)
INSERT [dbo].[Footer] ([id], [text], [link], [displayOrder], [typeId], [status], [Icon]) VALUES (5, N'Sản phẩm bán chạy', N'mailto:kevinle021097@gmail.com', 1, 4, 1, NULL)
SET IDENTITY_INSERT [dbo].[Footer] OFF
GO
SET IDENTITY_INSERT [dbo].[FooterCategory] ON 

INSERT [dbo].[FooterCategory] ([id], [name]) VALUES (3, N'LIÊN HỆ')
INSERT [dbo].[FooterCategory] ([id], [name]) VALUES (4, N'Sản phẩm của Mon''s Bakery')
INSERT [dbo].[FooterCategory] ([id], [name]) VALUES (5, N'Giờ làm việc')
SET IDENTITY_INSERT [dbo].[FooterCategory] OFF
GO
SET IDENTITY_INSERT [dbo].[IPAddress] ON 

INSERT [dbo].[IPAddress] ([Id], [IP], [date]) VALUES (1, N'::1', CAST(N'2019-11-17T00:00:00.000' AS DateTime))
INSERT [dbo].[IPAddress] ([Id], [IP], [date]) VALUES (2, N'::1', CAST(N'1900-01-01T00:00:00.000' AS DateTime))
SET IDENTITY_INSERT [dbo].[IPAddress] OFF
GO
SET IDENTITY_INSERT [dbo].[Menu] ON 

INSERT [dbo].[Menu] ([id], [text], [link], [displayOrder], [typeId], [status]) VALUES (1, N'Home', N'/', 1, 2, 1)
INSERT [dbo].[Menu] ([id], [text], [link], [displayOrder], [typeId], [status]) VALUES (2, N'About us', N'/aboutus', 4, 2, 1)
INSERT [dbo].[Menu] ([id], [text], [link], [displayOrder], [typeId], [status]) VALUES (5, N'Product', N'/product', 2, 2, 1)
SET IDENTITY_INSERT [dbo].[Menu] OFF
GO
SET IDENTITY_INSERT [dbo].[MenuType] ON 

INSERT [dbo].[MenuType] ([id], [name]) VALUES (2, N'Main Menu')
SET IDENTITY_INSERT [dbo].[MenuType] OFF
GO
SET IDENTITY_INSERT [dbo].[Order] ON 

INSERT [dbo].[Order] ([Id], [createdDate], [IdStatus], [ClientAccountId], [PaymentMethod], [ShippingAddress], [SubTotal], [Discount], [GrandTotal], [CouponCode]) VALUES (30, CAST(N'2020-11-15T12:35:05.920' AS DateTime), 2, 2, NULL, N'{"Id":null,"FirstName":"Lee3","LastName":"Phước3","MobilePhone":"097837443","ProvinceId":0,"DistrictId":0,"SubDistrictId":0,"Address":"25 Lê Duẩn 3","IsDefault":false}', CAST(0.00 AS Decimal(18, 2)), CAST(0.00 AS Decimal(18, 2)), CAST(0.00 AS Decimal(18, 2)), NULL)
INSERT [dbo].[Order] ([Id], [createdDate], [IdStatus], [ClientAccountId], [PaymentMethod], [ShippingAddress], [SubTotal], [Discount], [GrandTotal], [CouponCode]) VALUES (31, CAST(N'2020-11-28T23:49:07.657' AS DateTime), 0, 2, NULL, N'{"Id":null,"FirstName":"Markds","LastName":"Ottods","MobilePhone":"0978373449","ProvinceId":0,"DistrictId":0,"SubDistrictId":0,"Address":"Chung cư sunview town","IsDefault":false}', CAST(0.00 AS Decimal(18, 2)), CAST(0.00 AS Decimal(18, 2)), CAST(0.00 AS Decimal(18, 2)), NULL)
INSERT [dbo].[Order] ([Id], [createdDate], [IdStatus], [ClientAccountId], [PaymentMethod], [ShippingAddress], [SubTotal], [Discount], [GrandTotal], [CouponCode]) VALUES (32, CAST(N'2020-11-28T23:50:47.523' AS DateTime), 0, 2, NULL, N'{"Id":null,"FirstName":"Markds","LastName":"Ottods","MobilePhone":"0978373449","ProvinceId":0,"DistrictId":0,"SubDistrictId":0,"Address":"Chung cư sunview town","IsDefault":false}', CAST(0.00 AS Decimal(18, 2)), CAST(0.00 AS Decimal(18, 2)), CAST(0.00 AS Decimal(18, 2)), NULL)
SET IDENTITY_INSERT [dbo].[Order] OFF
GO
SET IDENTITY_INSERT [dbo].[OrderInformation] ON 

INSERT [dbo].[OrderInformation] ([Id], [IdProduct], [IdOrder], [Quantity]) VALUES (66, 2, 30, 1)
INSERT [dbo].[OrderInformation] ([Id], [IdProduct], [IdOrder], [Quantity]) VALUES (67, 3, 30, 1)
INSERT [dbo].[OrderInformation] ([Id], [IdProduct], [IdOrder], [Quantity]) VALUES (68, 2, 31, 1)
SET IDENTITY_INSERT [dbo].[OrderInformation] OFF
GO
SET IDENTITY_INSERT [dbo].[Page] ON 

SET IDENTITY_INSERT [dbo].[Page] OFF
GO
SET IDENTITY_INSERT [dbo].[Product] ON 

SET IDENTITY_INSERT [dbo].[Product] OFF
GO
SET IDENTITY_INSERT [dbo].[ProductCategory] ON 

INSERT [dbo].[ProductCategory] ([id], [name], [metatitle], [parentID], [displayOrder], [createdDate], [modifiedDate], [status], [showOnHome]) VALUES (3, N'Skin care', N'Skin care', NULL, 1, CAST(N'2019-11-24' AS Date), CAST(N'2020-10-11' AS Date), 0, 1)
SET IDENTITY_INSERT [dbo].[ProductCategory] OFF
GO
SET IDENTITY_INSERT [dbo].[Room] ON 

INSERT [dbo].[Room] ([Id], [DisplayName], [Code]) VALUES (1, N'Room 1', N'room1')
INSERT [dbo].[Room] ([Id], [DisplayName], [Code]) VALUES (2, N'Room 2', N'room2')
INSERT [dbo].[Room] ([Id], [DisplayName], [Code]) VALUES (3, N'Room 3', N'room3')
SET IDENTITY_INSERT [dbo].[Room] OFF
GO
SET IDENTITY_INSERT [dbo].[SEO] ON 

INSERT [dbo].[SEO] ([Id], [Name], [MetaTitle], [MetaKeyWord], [MetaDescription], [TypeId]) VALUES (1, N'Trang chủ', N'Trang chủ', NULL, NULL, 1)
INSERT [dbo].[SEO] ([Id], [Name], [MetaTitle], [MetaKeyWord], [MetaDescription], [TypeId]) VALUES (2, N'Sản phẩm', N'Sản phẩm', NULL, NULL, 2)
INSERT [dbo].[SEO] ([Id], [Name], [MetaTitle], [MetaKeyWord], [MetaDescription], [TypeId]) VALUES (3, N'Blog', N'blog', NULL, NULL, 3)
SET IDENTITY_INSERT [dbo].[SEO] OFF
GO
SET IDENTITY_INSERT [dbo].[Service] ON 

SET IDENTITY_INSERT [dbo].[Service] OFF
GO
SET IDENTITY_INSERT [dbo].[ServiceCategory] ON 

INSERT [dbo].[ServiceCategory] ([Id], [Name], [Metatitle], [ParentID], [DisplayOrder], [CreatedDate], [ModifiedDate], [Status], [ShowOnHome]) VALUES (1, N'Massage', N'massage', NULL, 1, CAST(N'2020-10-15' AS Date), CAST(N'2020-10-15' AS Date), 1, NULL)
INSERT [dbo].[ServiceCategory] ([Id], [Name], [Metatitle], [ParentID], [DisplayOrder], [CreatedDate], [ModifiedDate], [Status], [ShowOnHome]) VALUES (4, N'Skin care', N'skin-care', NULL, 2, CAST(N'2020-10-15' AS Date), NULL, 1, NULL)
SET IDENTITY_INSERT [dbo].[ServiceCategory] OFF
GO
SET IDENTITY_INSERT [dbo].[Slide] ON 

INSERT [dbo].[Slide] ([id], [image], [displayOrder], [link], [createdDate], [modifiedDate], [status], [title], [subtitle], [TextButton], [YellowTitle], [SlideType]) VALUES (3, N'http://localhost:56080/ckfinder/connector?command=Proxy&lang=en&type=Files&currentFolder=%2F&hash=c245c263ce0eced480effe66bbede6b4d46c15ae&fileName=slide-01.jpg', 1, N'http://fonnature.com/blog', CAST(N'2019-11-28T00:00:00.000' AS DateTime), CAST(N'2020-10-04T12:38:02.077' AS DateTime), 1, N'Skin Regeneration', N'wellcome Girl spring', N'Read More', NULL, 1)
INSERT [dbo].[Slide] ([id], [image], [displayOrder], [link], [createdDate], [modifiedDate], [status], [title], [subtitle], [TextButton], [YellowTitle], [SlideType]) VALUES (4, N'http://localhost:56080/ckfinder/connector?command=Proxy&lang=en&type=Files&currentFolder=%2F&hash=c245c263ce0eced480effe66bbede6b4d46c15ae&fileName=slide-03.jpg', 2, N'/booking', CAST(N'2019-11-28T00:00:00.000' AS DateTime), CAST(N'2020-10-04T12:38:18.873' AS DateTime), 1, N'Products Nature', N'Treatment of Body', N'Read More', NULL, 1)
INSERT [dbo].[Slide] ([id], [image], [displayOrder], [link], [createdDate], [modifiedDate], [status], [title], [subtitle], [TextButton], [YellowTitle], [SlideType]) VALUES (5, N'http://localhost:56080/ckfinder/connector?command=Proxy&lang=en&type=Files&currentFolder=%2F&hash=c245c263ce0eced480effe66bbede6b4d46c15ae&fileName=slide-04.jpg', 3, N'/booking', CAST(N'2019-11-28T00:00:00.000' AS DateTime), CAST(N'2020-10-04T12:38:35.833' AS DateTime), 1, N'Multi Rejuvenation', N'Breakthrough power', N'Read More', NULL, 1)
SET IDENTITY_INSERT [dbo].[Slide] OFF
GO
SET IDENTITY_INSERT [dbo].[Staff] ON 

INSERT [dbo].[Staff] ([Id], [Name], [Email], [Phone], [Address], [createdDate], [modifiedDate], [status], [IdAccount], [Position], [ShowOnHome], [image]) VALUES (1, N'Lori Alvarez', NULL, N'0978373449', N'Hẻm H4, đường Nguyễn Công Trứ', CAST(N'2019-12-24' AS Date), CAST(N'2019-12-31' AS Date), 1, 0, N'Massage', 1, N'/Data1/images/team-01.jpg')
INSERT [dbo].[Staff] ([Id], [Name], [Email], [Phone], [Address], [createdDate], [modifiedDate], [status], [IdAccount], [Position], [ShowOnHome], [image]) VALUES (2, N'Lisa Young', NULL, N'0978373449', N'Hẻm H4, đường Nguyễn Công Trứ', CAST(N'2019-12-24' AS Date), NULL, 1, 0, N'Massage', 1, N'/Data1/images/team-02.jpg')
INSERT [dbo].[Staff] ([Id], [Name], [Email], [Phone], [Address], [createdDate], [modifiedDate], [status], [IdAccount], [Position], [ShowOnHome], [image]) VALUES (3, N'Julia Berry', NULL, N'0978373449', N'Hẻm H4, đường Nguyễn Công Trứ', CAST(N'2019-12-24' AS Date), NULL, 1, 0, N'Massage', 1, N'/Data1/images/team-03.jpg')
SET IDENTITY_INSERT [dbo].[Staff] OFF
GO
SET IDENTITY_INSERT [dbo].[UsefulInformation] ON 

INSERT [dbo].[UsefulInformation] ([Id], [Name], [Value]) VALUES (1, N'Visitor', 2)
SET IDENTITY_INSERT [dbo].[UsefulInformation] OFF
GO
ALTER TABLE [dbo].[About] ADD  DEFAULT ((0)) FOR [Category]
GO
ALTER TABLE [dbo].[Booking] ADD  DEFAULT ((0)) FOR [Quantity]
GO
ALTER TABLE [dbo].[Booking] ADD  DEFAULT ((0)) FOR [PeriodTime]
GO
ALTER TABLE [dbo].[Booking] ADD  DEFAULT ((0)) FOR [Duration]
GO
ALTER TABLE [dbo].[Booking] ADD  DEFAULT ((0)) FOR [IsCancel]
GO
ALTER TABLE [dbo].[ClientAccount] ADD  DEFAULT ((0)) FOR [IsPreMember]
GO
ALTER TABLE [dbo].[ClientAccount] ADD  DEFAULT ((0)) FOR [IsConfirm]
GO
ALTER TABLE [dbo].[Content] ADD  DEFAULT ((0)) FOR [IsDisplayInHomePage]
GO
ALTER TABLE [dbo].[CouponCode] ADD  DEFAULT ('') FOR [Code]
GO
ALTER TABLE [dbo].[CouponCode] ADD  DEFAULT ((0)) FOR [Quantity]
GO
ALTER TABLE [dbo].[IPAddress] ADD  DEFAULT ('1900-01-01T00:00:00.000') FOR [date]
GO
ALTER TABLE [dbo].[Order] ADD  DEFAULT ((0)) FOR [ClientAccountId]
GO
ALTER TABLE [dbo].[Order] ADD  DEFAULT ((0)) FOR [SubTotal]
GO
ALTER TABLE [dbo].[Order] ADD  DEFAULT ((0)) FOR [Discount]
GO
ALTER TABLE [dbo].[Order] ADD  DEFAULT ((0)) FOR [GrandTotal]
GO
ALTER TABLE [dbo].[Product] ADD  DEFAULT ((0)) FOR [AmountSold]
GO
ALTER TABLE [dbo].[Product] ADD  DEFAULT ((0)) FOR [isDisplayHomePage]
GO
ALTER TABLE [dbo].[SEO] ADD  DEFAULT ((0)) FOR [TypeId]
GO
ALTER TABLE [dbo].[Service] ADD  DEFAULT ((0)) FOR [Duration]
GO
ALTER TABLE [dbo].[Slide] ADD  DEFAULT ((0)) FOR [SlideType]
GO
ALTER TABLE [dbo].[Menu]  WITH CHECK ADD  CONSTRAINT [FK_Menu_MenuType] FOREIGN KEY([typeId])
REFERENCES [dbo].[MenuType] ([id])
GO
ALTER TABLE [dbo].[Menu] CHECK CONSTRAINT [FK_Menu_MenuType]
GO
ALTER TABLE [dbo].[Product]  WITH CHECK ADD  CONSTRAINT [FK_Product_ProductCategory] FOREIGN KEY([idCategory])
REFERENCES [dbo].[ProductCategory] ([id])
GO
ALTER TABLE [dbo].[Product] CHECK CONSTRAINT [FK_Product_ProductCategory]
GO
USE [master]
GO
